<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">メイン画面</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="manager/photoedit/add" class="list-group-item">情報登録</a>
                    <a href="manager/photolist/index" class="list-group-item">登録一覧リスト</a>
                    <a href="manager/photomap/index" class="list-group-item">登録地図</a>
                </div>
            </div>
        </div>
    </div>
</div>

